:root {
  --thtext: #f6e7ce;
  --th_bg: #421930;
  --tr_even_bg: #f6e7ce;
  --tr_odd_bg: #d88e6c;
  --tr_text: #421930;
}

*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.25em;
}
body {
  background-color: #fff;
}
.App {
  margin: 5em auto;
  width: 90%;
  display: grid;
  grid-gap: 1em;
  /* grid-template-columns: 1fr 1fr; */
}

table {
  /* width: 100%; */
  grid-column: span 2;
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 1138px;

}

tr {
  background-color: var(--tr_odd_bg);
  /* border: 1px solid #ddd; */
  padding: .35em;
  color: var(--tr_text);
}
tr:nth-child(even){
  background-color: var(--tr_even_bg);
}

th,
td {
  padding: 1em;
  text-align: center;
  border: none;
  font-size: 20px;
}
th {
  font-size: 1.5em;
  letter-spacing: .1em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--th_bg);
  color: var(--thtext);
  position: relative;
}

.hidden {
  display: none;
}
.increase {
  color: #037c3a;
}

.decrease {
  color: #b50914;
}
.search-bar{
  position: relative;

}
input {
  text-indent: 0.2em;
  padding: 0.5em;
  width: 400px;
  font-size: 30px;
  color: var(--tr_text);
  background-color: var(--tr_even_bg);
  border: none;
  border-radius: 5px;
}
label {
  position: absolute;
  left: 30px;
  top: 15px;
  color: var(--tr_text);
  font-size: 30px;
  transition: 0.5s ease all;
}
.search-bar input:focus + label,
.search-bar input:valid + label {
  top: -40px;
  font-weight: bold;
}
.total-coin{
  min-width: 370px;
  justify-self: end;
  align-self: center;
  font-size: 30px;
  color: var(--tr_text);
  background-color: var(--tr_even_bg);
  width: 400px;
}
#number-of-coins, h3 {
  display: inline-block;
  margin: 11px;
}
h3 {
  padding-left: 10px;
}
#number-of-coins{
  background-color: var(--tr_even_bg);
  padding-left: 0.3em;
  min-width: 60px;
  text-align: center;
  border-left: 1px solid var(--tr_text);

}
.arrow {
    position: absolute;
    right: 3%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
}
th:first-child .arrow {
  right:30%;
}
th:first-child {
  width: 300px;
}
.up-arrow {
  border-bottom: 5px solid var(--thtext);
  bottom: 42px;
}
.down-arrow {
  border-top: 5px solid var(--thtext);
  bottom: 32px;
}

@media only screen and (max-width: 1000px) {
    main {
        display: block;
    }
    .total-coin {
      margin: 1em 0;
    }

}
